<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogging Tool | Log In</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="px-24 m-0">

        <%- include('layouts-blog-info.ejs') %>

        <a href="/" class="absolute text-xl top-5 text-sky-400">
            Back
        </a>

        <!-- Log In form -->
        <div class="flex flex-col items-center text-xl my-14 p-14" id="login-form">
            <form action="/author/login" method="post">
                <label for="email">Email</label>
                <input type="email" name="email" class="block w-64 p-2 text-sm border-2">
                <label for="password">Password</label>
                <input type="password" name="password" class="block w-64 p-2 text-sm border-2">
                <button class="px-4 py-2 my-5 font-bold text-white rounded bg-sky-500 hover:bg-sky-700">Log In</button>
            </form>
            <p class="block text-base">Don't have an account? <a href="/author/signup" role="button" class="text-sky-600">Sign Up</a></p>
        </div>

    </div>
</body>
</html>